---

---

<main class="flex flex-col gap-16 md:gap-20">
	<section>
		<h2 class="text-4xl xl:text-7xl font-bebas text-white">Proyectos destacados</h2>
		<p class="text-subtext font-manrope">Estos son algunos de los proyectos que he creado a lo largo de mi carrera.</p>
	</section>
	<section id="projects" class="flex flex-col gap-28"></section>
</main>

<script>
	const arrProjects = [
		{
			title: "Proyecto Final de Desarrollo Web",
			description:
				"Mi introducción al desarrollo web comenzó con éxito al crear una página web destacada en mi curso, lo que me llevó al top 10 de mi clase y me inspiró a seguir explorando este campo.",
			link: "https://guarida-gamer.netlify.app/",
			img: "/imgProjects/guaridaGamer.jpg",
			year: 2023,
			role: "Frontend",
		},
		{
			title: "Proyecto Final de JavaScript 1/2",
			description:
				"Mi proyecto final se centró en JavaScript, donde logré estar entre los diez mejores y consolidé mi pasión por este lenguaje. Creé un sitio eCommerce interactivo que permitía a los usuarios explorar y gestionar su carrito de compras. Mi amor por JavaScript se reflejó en cada línea de código, marcando el inicio de mi emocionante viaje en el desarrollo web.",
			link: "https://tienda-el-clima.netlify.app/",
			img: "/imgProjects/JavaScriptn1.jpg",
			year: 2023,
			role: "Frontend",
		},
		{
			title: "Proyecto Final de JavaScript 2/2",
			description:
				"En mi proyecto siguiente, creé una Aplicación Meteorológica con JavaScript, aprovechando la API de AccuWeather. Esta app recopila datos climáticos basados en la ubicación del usuario y los presenta de forma visualmente atractiva, utilizando colores y fotos descriptivas para representar intuitivamente las temperaturas y las condiciones climáticas. Esto resaltó mi habilidad para convertir datos en una experiencia agradable y funcional.",
			link: "https://el-clima-app.netlify.app/",
			img: "/imgProjects/JavaScriptn2.jpg",
			year: 2023,
			role: "Frontend",
		},
		{
			title: "Proyecto Final de React",
			description:
				"Mi proyecto final en React demuestra mi pasión por este framework y mi capacidad para crear soluciones dinámicas. Creé un eCommerce completo que permite a los usuarios agregar, eliminar y comprar productos, integrando Firebase para un proceso de compra fluido con actualización en tiempo real del stock. Este proyecto me ubicó en el top 10 de mi curso y refleja mi habilidad para convertir ideas en experiencias interactivas y funcionales.",
			link: "https://sportify-tienda.netlify.app/",
			img: "/imgProjects/react.jpg",
			year: 2023,
			role: "Frontend - Backend(Firebase)",
		},
		{
			title: "Proyecto top 10 React",
			description:
				"Este proyecto se me otorgo gracias al top 10 en React en el curso de CoderHouse, donde ejercí el rol de desarrollador FrontEnd junto con 3 diseñadoras y una product manager, adquirí mucha experiencia nueva y lo mas valioso de formar un grupo de trabajo, aprendiendo SCRUM",
			link: "https://muebles-a-medida.netlify.app/",
			img: "/imgProjects/muebles.jpg",
			year: 2023,
			role: "Frontend",
		},
		{
			title: "TaskMaster",
			description:
				"En este proyecto de práctica, desarrollé tanto el FrontEnd como el BackEnd, implementando tokens de seguridad para proteger las rutas, manejando errores para garantizar un funcionamiento adecuado y mejorando mis habilidades en las tecnologías utilizadas para adquirir más experiencia.",
			link: "https://taskmasterhub.vercel.app/",
			img: "/imgProjects/taskMaster.jpg",
			year: 2023,
			role: "FullStack",
		},
		{
			title: "Corona",
			description:
				"Gracias a este proyecto, logré entrar nuevamente al top 10 en CoderHouse. Fue una experiencia invaluable que me permitió profundizar aún más en Next.js y Firebase, además de aplicar buenas prácticas de desarrollo.",
			link: "https://corona-ecommerce.vercel.app/",
			img: "/imgProjects/corona.jpg",
			year: 2024,
			role: "Frontend",
		},
		{
			title: "Rastrea Patitas",
			description:
				"Proyecto del Seleccionado 12 de NoCountry, donde fui parte de un grupo de 14 personas y mi rol era el de Front End. Fue una experiencia muy valiosa para seguir aprendiendo y mejorar mis habilidades en React.",
			link: "https://rastreapatitas.vercel.app/",
			img: "/imgProjects/rastreaPatitas.jpg",
			year: 2024,
			role: "Frontend",
		},
	];

	const $projects = document.querySelector("#projects") as HTMLElement;

	arrProjects.forEach((project) => {
		const { title, description, link, img, year, role } = project;

		$projects.innerHTML += `
      <article class="flex flex-col gap-10 xl:grid xl:grid-cols-2">
        <div class="bg-[#1A1A1A] flex items-center justify-center rounded-t-xl px-8 pt-8 xl:p-8 xl:rounded-xl">
          <img class="rounded-t-xl xl:rounded-xl" src=${img} alt="" />
        </div>
        <div class="flex flex-col gap-10 justify-center">
          <div>
            <h3 class="text-3xl text-white font-manrope font-medium xl:text-3xl">${title}</h3>
            <p class="text-subtext font-manrope xl:text-lg">${description}</p>
          </div>
          <div class="flex flex-col gap-4">
            <h4 class="text-white font-manrope font-semibold">INFORMACIÓN</h4>
            <div class="w-full h-[1px] bg-[#484848]"></div>
            <div class="flex justify-between">
              <p class="text-subtext font-manrope font-medium">Año</p>
              <p class="text-subtext font-manrope font-medium">${year}</p>
            </div>
            <div class="w-full h-[1px] bg-[#484848]"></div>

            <div class="flex justify-between">
              <p class="text-subtext font-manrope font-medium">Rol</p>
              <p class="text-subtext font-manrope font-medium">${role}</p>
            </div>
          </div>
          <div class="flex gap-1 border-b-2 w-fit border-primary hover:border-subtext duration-300 ease-in-out">
            <a href=${link} class="text-subtext font-manrope" rel="noopener noreferrer" target="_blank">VISITAR</a>
            <img src="/arrow.svg" alt="" />
          </div>
        </div>
      </article>
    `;
	});
</script>
